extends ./layout.jade
block contenido
    .wrapper.row.cyan
        .header.col.s12.center-align
            h1 Bienvenido a Memegram
        .links.col.s12
            .col.s12.m4.l2.offset-m2.offset-l4.aire
                a(href="/login" class="btn pink accent-2 col s12 z-depth-3") Iniciar sesión
            .col.s12.m4.l2.aire
                a(href="/signup" class="btn pink accent-2 col s12 z-depth-3") Registrarse
    .container
        .row
            .col.s12
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci nisi magni soluta minima ullam rem totam quia non a! Ea inventore dignissimos modi excepturi voluptatibus officia, fugit voluptatum repellat dolor!
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci nisi magni soluta minima ullam rem totam quia non a! Ea inventore dignissimos modi excepturi voluptatibus officia, fugit voluptatum repellat dolor!
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci nisi magni soluta minima ullam rem totam quia non a! Ea inventore dignissimos modi excepturi voluptatibus officia, fugit voluptatum repellat dolor!
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci nisi magni soluta minima ullam rem totam quia non a! Ea inventore dignissimos modi excepturi voluptatibus officia, fugit voluptatum repellat dolor!