extends ../../layout.jade
block contenido
    div(class="wrapper")
        h1 Subir nueva imagen
        form(action="/app/imagenes" method="POST" enctype="multipart/form-data" class="col-md-6")
            div(class="form-group ")
                lable(for="tittle") Titulo
                input(type="text", name="tittle", placeholder="Titulo de la imagen", id="tittle", class="form-control")
            div(class="form-group ")
                lable(for="archivo") Imagen
                input(type="file", name="archivo",  id="archivo", class="form-control")
            input(type="submit", value="Enviar", class="btn btn-success")

